.footer {
  height: 20vh;
  background: $dark;
  color: $white;
  font-size: 1rem;
  padding: 1rem;
  @include responsive(tab) {
    font-size: 2rem;
  }
  @include flexPoint(row, space-around);
  i {
    font-size: 3rem;
    @include responsive(tab) {
      font-size: 4rem;
      padding: 1.5rem;
    }
  }
}