.header {
  height: 85vh;
  background: linear-gradient(rgba(0, 0, 0, 0.582) 20%),url('../image/software.jpeg')no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-clip-path: polygon(0 0,100% 0,100% 86%,0 100%);
  clip-path: polygon(0 0,100% 0,100% 86%,0 100%);
  @include flexPoint(column, space-around);
  .header-text {
    padding: 1rem;
    .header-name {
      font-size: 4rem;
      font-weight: 700;
      @include responsive(tab) {
        font-size: 5rem;
      }
      @include responsive(large-screen) {
        font-size: 9rem;
      }
    }
    .header-sub {
      font-size: 1.5rem;
      font-weight: 300;
      @include responsive(tab) {
        font-size: 2.5rem;
      }
      @include responsive(large-screen) {
        font-size: 5rem;
      }
    }
  }
  i {
    font-size: 5rem;
    color: $white;
    cursor: pointer;
    @include responsive(tab) {
      font-size: 8rem;
    }
    @include responsive(large-screen) {
      font-size: 12rem;
    }
  }
}