
.projects {
  height: auto;
  background: $white;
  border: 2px solid $orange;
  padding: 1rem;
  .project-wrapper {
    height: auto;
    display: grid;
    grid-template-rows: 45rem 45rem 45rem 45rem;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    @include responsive(tab){
      background: cornflowerblue;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 45rem 45rem;
      height: auto;
    }
    @include responsive(desktop){
      background: cornflowerblue;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 45rem;
    }
    .card {
      background: green;
      border-radius: 1rem;
      padding: 1rem;
      text-align: center;
      font-size: 1.5rem;
      @include flexPoint(column, space-between);
      .card-img {
        background: url(../image/software.jpeg)no-repeat;
        background-size: cover;
        background-position: center;
        height: 50%;
        width: 100%;
      }
      .card-info {
        background: blue;
        height: 50%;
        width: 100%;
      }
    }
  }
}