.skills {
  background: $dirty-white;
  min-height: 50vh;
  padding: 1rem;
  @include flexPoint(column, space-around);
  @include responsive(tab){
    @include flexPoint(row, space-around);
  }
  @include responsive(desktop){
    @include flexPoint(row, space-around);
  }
  .skill {
    background: $white;
    max-width: 40vh;
    min-height: 20vh;
    padding: 1rem;
    margin: 1rem;
    @include flexPoint(row, space-around);
    flex-wrap: wrap;
    @include responsive(tab){
      width: 30vh;
      min-height: 40vh;
    }
    @include responsive(desktop){
      width: 40vh;
      min-height: 40vh;
    }
    span {
      display: inline-block;
      background: linear-gradient(to right bottom, $light-blue, $dark-blue);
      height: 3rem;
      padding: 1rem;
      margin: 0.2rem;
      padding-bottom: 3rem;
      border-radius: .5rem;
      color: $white;
      font-size: 1.5rem;
      text-align: center;
      transition: all .5s ease;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
        box-shadow: 0 .5rem 2rem $dark;
        border: 1px solid $light-blue;
        background: $white;
        color: $light-blue;
      }
    }
  }
}